" base configuration
set showmode
set incsearch
set nu
" set relativenumber
set ignorecase
set smartcase
set clipboard+=unnamed

" keymaps

" the leader key
let mapleader=","

" the escape button
nnoremap <C-c> <Esc>

" redo
nnoremap U <C-r>

" comfort shortcuts
nnoremap <C-d> yyp

" terminal
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

" zen-mode
nnoremap <C-z> :action ToggleDistractionFreeMode<CR>

" find
nnoremap <C-p> :action GotoFile<CR>
nnoremap <leader>f :action RecentFiles<CR>

" navigation
nnoremap J }
nnoremap K {

nnoremap sg :action SplitVertically<CR>
nnoremap sv :action SplitHorizontally<CR>
nnoremap sm :action MoveEditorToOppositeTabGroup<CR>

nnoremap sh <c-w>h
nnoremap sl <c-w>l
nnoremap sj <c-w>j
nnoremap sk <c-w>k

nnoremap <TAB> :action PreviousTab<CR>
nnoremap <S-TAB> :action NextTab<CR>

nnoremap ;q :action CloseContent<CR>
nnoremap ;a :action CloseAllEditors<CR>

" code interactions
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>C :action CommentByBlockComment<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>p :action ReformatCode<CR>
nnoremap <leader>re :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>su :action ShowUsages<CR>
nnoremap <leader>sU :action FindUsages<CR>
nnoremap <leader>m  :action CollapseRegion<CR>
nnoremap <leader>M  :action ExpandRegion<CR>
nnoremap <leader>am :action CollapseAllRegions<CR>
nnoremap <leader>aM :action ExpandAllRegions<CR>


" code information
nnoremap <leader>d :action ShowHoverInfo<CR>
nnoremap <leader>e :action ShowErrorDescription<CR>

" code navigation
nnoremap gi :action GotoImplementation<CR>

" code selection
nnoremap <S-j> :action MoveLineDown<CR>
nnoremap <S-k> :action MoveLineUp<CR>

" debugging
nnoremap <leader>dc :action Debug<CR>
nnoremap <leader>ds :action Stop<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>

" run
nnoremap <leader>rc :action ContextRun<CR>
nnoremap <leader>rx :action ChooseRunConfiguration<CR>
nnoremap <leader>rr :action Rerun<CR>
nnoremap <leader>rt :action RunTests<CR>
nnoremap <leader>rs :action Stop<CR>

"---------- plugins ----------
" easy motion
Plug 'easymotion/vim-easymotion'
map <leader>J <Plug>(easymotion-s)
map <leader>j <Plug>(easymotion-f)

Plug 'preservim/nerdtree'
map <c-n> :NERDTree<CR>
":NERDTreeFocus
":NERDTreeToggle
map <c-n>n :NERDTreeClose<CR>
":NERDTreeFind
":NERDTreeRefreshRoot
